/* CSS Document */





.hades_multi_upload { float:right; margin-right:10px; margin-top:11px; }
.multi-hades-upload { display:inline-block; margin:10px 0; }
.multi-label { float:right; margin:12px 15px 0px 0; padding:0; font-size:10px; font-weight:900; }