@charset "utf-8";
/* CSS Document */

.col-image { width:60px; } 

.blurb-wrapper .blurb-button a { position:relative; zoom:1; }

.commentlist li{ margin-top:-3px!important; }

#footer , .inner-footer-wrapper { position:relative; zoom:1; }


.sidebar .sidebar-wrap input[name=s] { padding:8px 5px; width:50%!important; }

div.gridSlider span.hover-image { width:100%; height:100%; background:#000; }